<div class="form-group">
  <%= form_with model: [post, post_comment] do |f| %>
    <%= f.text_area :comment, class: "form-control", style: "width: 100%", rows: '3', placeholder: "コメントを入力" %>
    <%= button_tag type: "submit", class: "btn btn-info" do %>
    <i class="fas fa-paper-plane"></i>
    <% end %>
  <% end %>
</div>

