<div class="container my-5 mx-auto">
  <div class="d-flex col-11 mx-auto">
    <%= render 'item_info', post: @post %>
  </div>
  <div class="row col-11 mx-auto pl-4 bg-light">
    <p>コメント：<%= render 'public/posts/comment_counter', post: @post %></p>
  </div>

  <div class="row col-11 mt-2 mx-auto pl-4 bg-light">
    <%= render 'public/posts/comment_form', post: @post, post_comment: @post_comment %>
  </div>
  <div class="d-flex flex-column col-11 mt-2 mx-auto pl-4 bg-light">
    <%= render 'public/posts/comment', post: @post %>
  </div>
</div>