<div class="container">
  <div class="col-md-10 mx-auto my-4">
    <h3>新着レビュー</h3>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto my-3">
      <%= render 'public/posts/index', posts: @posts %>
      <%= link_to '全てのレビューを見る', posts_path %>
    </div>
  </div>
</div>





