<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <h1>top page</h1>
  </div>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <%= render 'public/posts/index', posts: @posts %>
      <%= link_to '全てのレビューを見る', posts_path %>
    </div>
  </div>
</div>





