<div class="mx-5">
  <h3>ユーザー詳細画面</h3>
  
  <div class="d-flex justify-content-between mt-5">
    <div class="col-3">
      <%= render 'admin/users/user_info', user: @user %>
    </div>
    <div class="col-8">
      <%= render 'admin/posts/index', posts: @posts %>
    </div>
  </div>
</div>