<div class="container container-fluid">
  <div class="col-6 text-center mx-auto mt-5">
    <h4 class="mt-3">本当に削除しますか？</h4>
    <p class="mt-4 mb-5">
      削除すると、このユーザーに関する<br>
      投稿・コメント・いいねも全て<br>
      削除されます。
    </p>
    <%= link_to "キャンセル", admin_user_path(@user), class: 'btn btn-danger' %>
    <%= link_to "削除する", admin_user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-primary' %>
  </div>
</div>
