<div class="ml-3">
  <%= image_tag user.get_profile_image(150, 150) %>
</div>


<table class="table table-borderless mt-3">
  <% if user == current_user && user.name != 'guestuser' %>
  <tr>
    <th style="width: 35%;">メールアドレス</th>
    <td><%= user.email %></td>
  </tr>
  <% end %>
  <tr>
    <th>ユーザーネーム</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= user.introduction %></td>
  </tr>
</table>